:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  transform: translateZ(0);
  contain: strict;
  cursor: default;
  opacity: .01;
  touch-action: none;
  z-index: 2;
}


:host(.backdrop-hide) {
  background: transparent;
}

:host(.backdrop-no-tappable) {
  cursor: auto;
}
