.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ai-btn {
  margin-left: 20px;
}

.btn-test {
  margin: 0 5px;
}

.item {
  margin: 10px;
  text-align: center;
}